@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
/* ======================
 CUSTOM FONTS STYLES
====================== */
@font-face {
	font-family: 'Almonidlaaa-Regular';
	src: url('../fonts/almoni-dl-aaa-400.eot');
	src: url('../fonts/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/almoni-dl-aaa-400.woff') format('woff'),
		url('../fonts/almoni-dl-aaa-400.ttf') format('truetype'),
		url('../fonts/almoni-dl-aaa-400.svg#alefbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Almonidlaaa-Bold';
    src: url('../fonts/almoni-dl-aaa-700.eot');
    src: url('../fonts/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/almoni-dl-aaa-700.woff') format('woff'),
         url('../fonts/almoni-dl-aaa-700.ttf') format('truetype'),
         url('../fonts/almoni-dl-aaa-700.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ======================
 GENERAL STYLES
====================== */
body, html {
	width:100%;
	height:100%;
	font: 20px/1.52 'Open Sans Hebrew', Arial, Helvetica, sans-serif;
	color: #666;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	margin: 0;
	background: #fff;
	direction: rtl;
}
a{color: #5d5d5d; text-decoration:underline; outline: none;}
a:hover{color: #5d5d5d; text-decoration:none;}
a:active{color: #5d5d5d; text-decoration: none;}
a img, fieldset { border:none;}
img{
	vertical-align:top;
	border: 0;
	max-width: 100%;
	height: auto;
}
header, footer, article, section, hgroup, nav, figure {display: block;}

/* general form styles */
form,
fieldset{
	margin: 0;
	padding: 0;
	border:none;
}

input[type=text], input[type=tel], input[type=email], input[type=password], textarea {
	height:35px;
	width:100%;
	line-height:100%;
	padding:0 10px;
	border:none;
	font: 14px Arial, Helvetica, sans-serif;
	border: none;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	color: #949495;
	display: block;
	outline: none;
}
input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{border: 1px solid #00adef;}
.search-bar input[type=text]:focus{border:none;}
::-webkit-input-placeholder {color:#949495;}
input:focus::-webkit-input-placeholder {opacity: 0.5;}
:-moz-placeholder {color: #949495;}
input:focus:-moz-placeholder {opacity: 0.5;}
::-moz-placeholder {
	color: #949495;
	opacity: 1;
}
input:focus::-moz-placeholder {opacity: 0.5;}
:-ms-input-placeholder {color: #949495;}
input:focus:-ms-input-placeholder {opacity: 0.5;}
input[type=text].error, input[type=tel].error, input[type=email].error, input[type=password].error, textarea.error{border: 1px solid #ec1b35;}

textarea {
	width:100%;
	padding:7px;
	overflow:auto;
	resize:none;
	line-height: 17px;
	height: 100px;
	font-size:14px;
}
::-webkit-textarea-placeholder {color: #949495;}
textarea:focus::-webkit-input-placeholder {opacity: 0.5;}
:-moz-placeholder {color: #949495;}
textarea:focus::-moz-placeholder {opacity: 0.5;}
::-moz-placeholder {
	color: #949495;
	opacity: 1;
}
textarea:focus::-moz-placeholder {opacity: 0.5;}
:-ms-textarea-placeholder {color: #949495;}
textarea:focus:-ms-input-placeholder {opacity: 0.5;}

input[type="submit"]{
	-webkit-appearance: none;
	border-radius: 0;
}

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.menu-section{
	display: none;
}
#wrapper{
	width: 100%;
	overflow: hidden;
}
#wrapper > .container{padding: 0;}
h1{
	text-align: center;
	font: 36px/42px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
	letter-spacing: -1px;
	margin: 0 0 35px;
	color: #bf2b5f;
}
p{margin: 0 0 20px;}
#header{
	margin: 0 -98px;
	padding: 0 98px 0 0;
}
.logo{
	width: 171px;
	height: 172px;
	float: right;
	background: url("../images/logo.png") no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin: 5px 0 -97px;
}
.logo a{
	display: block;
	height: 100%;
}
.menu-btn{
	float: left;
	color: #fff;
	width: 168px;
	text-align: center;
	font: 26px/80px 'Almonidlaaa-Regular', 'Open Sans Hebrew', Arial, sans-serif;
	background: #25af40;
	text-decoration: none;
	margin: 0 26px 0 0;
}
.menu-btn:hover{
	background: #159328;
	color: #fff;
}
.menu-btn:active{
	background: #057810;
	color: #fff;
}
.menu-btn span{
	padding: 0 0 0 43px;
	background: url("../images/ico-menu.png") no-repeat 0 50%;
}
.login-btn{
	float: left;
	border-radius: 16px;
	border: 1px solid #707070;
	padding: 0 15px;
	font: 20px/35px 'Almonidlaaa-Regular', 'Open Sans Hebrew', Arial, sans-serif;
	text-decoration: none;
	margin: 23px 0 0;
	color: #666 !important;
}
#hero-block{
	margin: 0 -98px 55px;
	background: #bf2b5f;
	color: #fff;
	overflow: hidden;
}
#hero-block .text-part{
	float: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 125px 96px 0 60px;
	width: 49.92%;
}
#hero-block .text-part h1{
	color: #fff;
	font-size: 76px;
	text-align: right;
	line-height: 66px;
	margin: 0 -3px 20px 0;
}
#hero-block .text-part .days-left{
	font-weight: bold;
	font-size: 20px;
	display: block;
	padding: 0 32px 0 0;
	background: url("../images/ico-clock.png") no-repeat 100% 50%;
	margin: 0 0 6px;
}
#hero-block .image-part{
	float: left;
	width: 50.07%;
}
#about-section{
	text-align: center;
	margin: 0 0 24px;
}
#about-section h1{margin: 0 0 9px;}
.scroll-down{
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	background: url("../images/arrow-down.png") no-repeat;
}
#about-section .scroll-down{margin-top: 25px;}
#how-to-participate{
	margin: 0 -9999px;
	padding: 45px 9999px 30px;
	background: #eef0f1;
}
.circle-block{
	border-radius: 50%;
	margin: 0 0 45px;
	background: #25af40;
	max-width: 270px;
	text-align: center;
	box-sizing: content-box;
	border: 20px solid #25af40;
}
.circle-block:hover{
	border: 20px solid #057810;
}