#photo-gallery{
	background: #eef0f1;
	margin: 0 -9999px;
	padding: 41px 9999px 30px;
	text-align: center;
}
#photo-gallery h1{margin-bottom: 38px;}
#photo-gallery .gallery-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
#photo-gallery .gallery-list li h2{
	font: 26px/26px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
	margin: 0;
	letter-spacing: 1px;
}
#photo-gallery .gallery-list li h2 a{text-decoration: none;}
#photo-gallery .gallery-list li h2 a:hover{text-decoration: underline;}
#photo-gallery .gallery-list li span{
	font-size: 16px;
	line-height: 24px;
	display: block;
	margin-bottom: 29px;
}
#photo-gallery .gallery-list li img{
	width: 100%;
	margin-bottom: 13px;
}
.btn{
	font: 24px/46px 'Almonidlaaa-Regular', 'Open Sans Hebrew', Arial, sans-serif;
	display: inline-block;
	margin: 0 auto 58px;
	padding: 0 21px;
	text-decoration: none;
	color: #fff;
	background: #666;
	border-radius: 4px;
}
.btn:hover{
	background: #474747;
	color: #fff;
}
.btn:active{
	background: #383838;
	color: #fff;
}
.btn:visited{color: #fff;}
#partners{
	padding: 59px 0 100px;
	margin: 0 -2px;
}
#partners h1{padding-bottom: 44px;}
#partners .partners{position: relative;}
#partners .next, #partners .previous{
	display: block;
	position: absolute;
	text-indent: -9999px;
	top: 12px;
	left: 0;
	width: 20px;
	height: 37px;
	background: url("../images/previous.png") no-repeat 0 0;
	outline: none;
}
#partners .previous{
	left: auto;
	right: 1px;
	background: url("../images/next.png") no-repeat 0 0;
}
#partners .partners-holder{
	max-width: 1052px;
	margin: 0 auto;
}
#partners .partners-holder ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#partners .partners-holder ul li{
	float: right;
	display: table;
	height: 70px;
	padding: 0 28px;
}
#partners .partners-holder ul li div{
	display: table-cell;
	vertical-align: middle;
}
#partners .partners-holder ul li a{
	vertical-align: middle;
}
#partners .partners-holder ul li a img{vertical-align: middle;}
#footer{
	background: #bf2b5f;
	margin: 0 -9999px;
	padding: 0 9999px;
	color: #fff;
}
#footer a{color: #fff;}
#footer:after{
	content: "";
	display: block;
	clear: both;
}
.footer-menu{
	width: 20.1%;
	float: right;
	padding: 60px 0 0 0;
}
.footer-menu h2{
	margin: 0;
	font-size: 26px;
	line-height: 32px;
}
.footer-menu ul a, .social-networks a{
	font-size: 16px;
	text-decoration: none;
}
.social-networks a{
	display: block;
	text-indent: -9999px;
	width: 57px;
	height: 57px;
}
.footer-menu ul a:hover{text-decoration: underline;}
.footer-menu ul, .social-networks{
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-networks{
	width: 34.159%;
	float: right;
	padding: 60px 0 0 0;
}
.contact-info{
	width: 25.641%;
	float: right;
	background: #cf6087;
	padding: 20px 0 9999px 0;
	height: 100%;
	margin-bottom: -9999px;
}
@media only screen and (max-width: 480px){
	#photo-gallery{padding: 20px 9999px 15px;}
	#photo-gallery h1{
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	#photo-gallery .gallery-list li span{margin-bottom: 15px;}
	#photo-gallery .gallery-list li img{margin-bottom: 5px;}
    .btn{
	    font-size: 20px;
	    line-height: 36px;
	    padding: 0 15px;
	    margin-bottom: 30px;
    }
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution: 144dpi){
	
}