.menu-section .container{
	color: #fff;
	padding-bottom: 20px;
}
.menu-section .container .row:before{
	content: "";
	clear: both;
	display: block;
}
.menu-section .close{
	margin: 32px;
	padding: 0 0 0 32px;
	opacity: 1;
	text-decoration: none;
	font: 26px/26px 'Almonidlaaa-Regular', 'Open Sans Hebrew', Arial, sans-serif;
	background: url("../images/bg-close-btn.png") no-repeat 0 6px;
}
.menu-section .close:hover{color: #fff;}
.menu-section .container .social-networks {
    width: 28.759%;
    padding: 52px 0 0;
    margin: 0 auto;
	display: block;
	float: none;
}
.menu-section .container .column{
	margin-top: 92px;
	border-right: 2px solid #fff;
}
.menu-section .container .column:first-child{border: none;}
.menu-section .container .social-networks li{
	font: 21px/21px 'Open Sans Hebrew', Arial, sans-serif;
	margin: 0 12px;
}
.menu-section .container .column h3{
	text-align: center;
	font: 36px/24px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
	margin: 0 0 40px 0;
}
.menu-section .container .column ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu-section .container .column ul li{
	text-align: center;
	margin-bottom: 10px;
}
.menu-section .container .column ul li a{
	text-decoration: none;
}
.menu-section .container .column ul li a:hover{text-decoration: underline;}
#photo-gallery{
	background: #eef0f1;
	margin: 0 -9999px;
	padding: 41px 9999px 30px;
	text-align: center;
}
#photo-gallery h1{margin-bottom: 38px;}
#photo-gallery .gallery-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
#photo-gallery .gallery-list li h2{
	font: 26px/26px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
	margin: 0;
	letter-spacing: 1px;
}
#photo-gallery .gallery-list li h2 a{text-decoration: none;}
#photo-gallery .gallery-list li h2 a:hover{text-decoration: underline;}
#photo-gallery .gallery-list li span{
	font-size: 16px;
	line-height: 24px;
	display: block;
	margin-bottom: 29px;
}
#photo-gallery .gallery-list li img{
	width: 100%;
	margin-bottom: 13px;
}
.btn{
	font: 24px/46px 'Almonidlaaa-Regular', 'Open Sans Hebrew', Arial, sans-serif;
	display: inline-block;
	margin: 0 auto 58px;
	padding: 0 21px;
	text-decoration: none;
	color: #fff;
	background: #666;
	border-radius: 4px;
}
.btn:hover{
	background: #474747;
	color: #fff;
}
.btn:active{
	background: #383838;
	color: #fff;
}
.btn:visited{color: #fff;}
#partners{
	padding: 59px 0 118px;
	margin: 0 -2px;
}
#partners h1{padding-bottom: 44px;}
#partners .partners{position: relative;}
#partners .next, #partners .previous{
	display: block;
	position: absolute;
	text-indent: -9999px;
	top: 12px;
	left: 0;
	width: 20px;
	height: 37px;
	background: url("../images/previous.png") no-repeat 0 0;
	outline: none;
}
#partners .previous{
	left: auto;
	right: 1px;
	background: url("../images/next.png") no-repeat 0 0;
}
#partners .unactive{opacity: 0.3;}
#partners .partners-holder{
	max-width: 1052px;
	margin: 0 auto;
}
#partners .partners-holder ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#partners .partners-holder ul li{
	float: right;
	display: table;
	height: 70px;
	padding: 0 28px;
}
#partners .partners-holder ul li div{
	display: table-cell;
	vertical-align: middle;
}
#partners .partners-holder ul li a{
	vertical-align: middle;
}
#partners .partners-holder ul li a img{vertical-align: middle;}
#footer{
	background: #bf2b5f;
	margin: 0 -9999px;
	padding: 0 9999px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}
#footer a{color: #fff;}
#footer:after{
	content: "";
	display: block;
	clear: both;
}
.footer-menu{
	width: 22.8%;
	float: right;
	padding: 55px 0 40px 30px;
}
.footer-menu h2{
	margin: 0 0 18px;
	font: 26px/26px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
}
.footer-menu ul li{margin-bottom: 6px;}
.footer-menu ul a, .social-networks a{text-decoration: none;}
.social-networks a{
	display: block;
	text-indent: -9999px;
	width: 57px;
	height: 57px;
	float: right;
}
.social-networks .youtube a{background: url("../images/bg-youtube.png") no-repeat 0 0;}
.social-networks .facebook a{background: url("../images/bg-facebook.png") no-repeat 0 0;}
.social-networks .twitter a{background: url("../images/bg-twitter.png") no-repeat 0 0;}
.social-networks .instagram a{background: url("../images/bg-instagram.png") no-repeat 0 0;}
.footer-menu ul a:hover{text-decoration: underline;}
.footer-menu ul, .social-networks{
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-networks{
	width: 28.759%;
	float: right;
	padding: 60px 0 0 0;
	margin: 0 -23px 0 23px;
}
.social-networks li{
	float: right;
	margin: 0 0 0 24px;
}
.contact-info{
	width: 25.641%;
	float: right;
	background: #cf6087;
	padding: 24px 28px 9999px 42px;
	height: 100%;
	margin-bottom: -9999px;
	box-sizing: border-box;
}
.contact-info .tel{
	margin-bottom: 24px;
	display: block;
}
.contact-info .tel a{
	font-size: 18px;
	padding: 0 30px 0 0;
	text-decoration: none;
	background: url("../images/bg-tel.png") no-repeat 100% 6px;
}
.contact-info .tel a:hover{text-decoration: underline;}
.contact-info h4{
	margin: 0;
	font: 30px/29px 'Almonidlaaa-Bold', 'Open Sans Hebrew', Arial, sans-serif;
}
.contact-info address{
	font-size: 16px;
	line-height: 20px;
}
.contact-info .developed-by{
	display: block;
	text-indent: -9999px;
	background: url("../images/bg-arison.png") no-repeat 0 0;
	width: 121px;
	height: 24px;
	margin: 0 2px 0 0;
}
@media only screen and (max-width: 1200px){
	.menu-section .container .social-networks {width: 324px;}
	.menu-section .container .social-networks li{
		width: 25%;
		margin: 0;
	}
	#partners .partners {
	    position: relative;
	    box-sizing: border-box;
	    padding: 0 30px;
	}
	.social-networks{margin: 0;}
    .footer-menu {padding: 55px 0 40px;}
    .contact-info{padding: 24px 15px 9999px;}
    .social-networks li {margin: 0 0 0 10px;}
}
@media only screen and (max-width: 992px){
	.menu-section .container .column h3{
		line-height: 36px;
		margin-bottom: 10px;
	}
	.menu-section .container .column{margin-top: 15px;}
	.footer-menu{
		width: 33.3333%;
		padding: 15px 0;
	}
	.social-networks{
		width: 33.3333%;
		padding: 0;
		margin: 30px 0;
	}
    .social-networks li{
	    width: 50%;
	    margin: 10px 0;
    }
    .social-networks li a{
	    margin: 0 auto;
	    float: none;
    }
    .contact-info{
	    width: 100%;
	    margin: 0 -9999px;
	    padding: 15px 9999px;
	    box-sizing: content-box;
    }
}
@media only screen and (max-width: 767px){
	.menu-section .container .column{
		border: none;
		margin: 0;
	}
	.menu-section .container .column ul li{margin-bottom: 3px;}
    .menu-section .container .social-networks{padding: 30px 0 0;}
}
@media only screen and (max-width: 639px){
	.contact-info .tel {margin-bottom: 5px;}
	#partners{padding: 30px 0;}
	#partners h1{padding: 0;}
	.footer-menu{
		width: 50%;
		padding: 15px 0 15px 10px;
	}
	.social-networks{
		width: 100%;
		padding: 0;
		margin: 0 0 15px;
	}
    .social-networks li{
	    width: 25%;
	    margin: 0;
    }
    .social-networks li a{
	    margin: 0 auto;
	    float: none;
    }
    .contact-info{
	    width: 100%;
	    margin: 0 -9999px;
	    padding: 15px 9999px;
	    box-sizing: content-box;
    }
}
@media only screen and (max-width: 480px){
	.footer-menu h2 {margin: 0 0 2px;}
	.contact-info h4{
		font-size: 26px;
		line-height: 26px;
	}
	#photo-gallery{padding: 20px 9999px 15px;}
	#photo-gallery h1{
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	#photo-gallery .gallery-list li span{margin-bottom: 15px;}
	#photo-gallery .gallery-list li img{margin-bottom: 5px;}
    .btn{
	    font-size: 20px;
	    line-height: 36px;
	    padding: 0 15px;
	    margin-bottom: 30px;
    }
}
@media only screen and (max-width: 380px){
	.menu-section .container .social-networks{width: 100%;}
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution: 144dpi){
	
}